Stems

Suffix
-Derivational
	Create secondary stems from primary stems

	Noun/Verb/Adj/Num -> Noun
	Noun -> Adverb
	Noun/Verb/Interjection -> Verb
	Noun -> Adj

Q: How to label morphemes that create secondary stems?
Q: Preventing awkward words from being created?
Q: Pg. 75 vs. 91

-Inflectional
	Different form of same stem

Examples:

Derivational Nouns (also, remove n before suffix)

	Stem: 
		
		em+ (medicine)
		altəči+ (gold)
		ajil+ (work)
		wildəbər+ (industry)

		xuruun+ (finger)
		xwʒwwn+ (neck)		<-check ʒ
		salxin+ (wind)

		temər+ 	(metal)
		bayən+	(wealth)
		niigəm+ (common)

	Suffix:

		+či 	[PROFESSION-NOUN]	?
		+ciŋ	[PROFESSION-NOUN]	?

		+bči 	[PROTECTIVE-COVERING-NOUN]

		+ləg 	[ABSTRACT-NOUN]


Example Analysis:

bari- VERB ROOT		(to seize) V
bari+idə-			(to seize each other) V
bari-idə+aa 		(the wrestling) N
bari-idə-aa+či 		(wrestler) N
bari-idə-aa-či+d 	(wrestlers) PL
bari-idə-aa-či-d+tə (to the wrestlers) 

Presentation:
	Demo
	Couple of slides

Project Due at 11:59pm 

____

Look at causative relations

@U.STEM.A@
@U.STEM.E@
@U.STEM.I@
@U.STEM.O@

